In [3]:
import requests, re
from bs4 import BeautifulSoup as bs
import pandas as pd, numpy as np
from tqdm import tqdm

# MonexNew

In [4]:
url = 'https://monexnews.com/kurs-valuta-asing.htm?kurs=JPY&searchdatefrom=12-05-2019&searchdateto=12-05-2020'
res = requests.get(url)

In [5]:
soup = bs(res.content, 'html.parser')
table = soup.find('table', {'class':'table'})
rows = table.find_all('tr')
_data = []
for row in rows:
    _data.append([col.text for col in row.find_all('td')])

df = pd.DataFrame(_data[1::], columns=['Date', 'Ask', 'Bid'])

In [6]:
df['Ask'] = df['Ask'].str.replace(',', '.')
df['Bid'] = df['Bid'].str.replace(',', '.')
df[['Ask', 'Bid']] = df[['Ask', 'Bid']].astype(float)

# IMDB

In [8]:
url = 'https://www.imdb.com/search/title/?release_date=2019-01-01,2020-12-31' #filter dari 1 januari 2019 - 32 Desember 2020
url_next = 'https://www.imdb.com/search/title/?release_date=2019-01-01,2020-12-31&amp;start=51'
res = requests.get(url)

`url_next` adalah url page berikutnya.

Dari website imbd, setiap page review memiliki total 50 movie. Maka, setiap page akan berulang untuk kelipatan 50. Kita akan coba otomasikan untuk pencarian movie lebih dari 50 (lebih dari 1 page)

In [15]:
def scrap(url, movie_count, threshold):
    res = requests.get(url) #get url
    soup = bs(res.content) 
    
    # Buat container data
    data = {'title':[], 'review_score':[], 'meta_score':[], 'votes':[],
            'director':[], 'artist': [],'genre':[], 'duration':[], 'synopsis': []
           }
        
    # Ambil semua(50) review dalam 1 page
    reviews = soup.find_all('div', {'class':'lister-item mode-advanced'})
    
    for movie in reviews:
        
        # set variabel yang mungkin kosong. males bikin try-catch satu-satu. (jangan ditiru)
        
        
        title = movie.find('h3', {'class': 'lister-item-header'}).find('a').text
        try : 
            review = float(movie.find('div', {'class':'inline-block ratings-imdb-rating'}).find('strong').text)
        except : 
            review = np.nan
        try : 
            votes = int(movie.find('span', {'name':'nv'})['data-value'])
        except : 
            votes = 0
        try :
            meta_score = int(movie.find('span', {'class': 'metascore mixed'}).text)
        except:
            meta_score = np.nan
        try: 
            info = movie.find_all('p', {'class': 'text-muted'})
            person = movie.find('p', {'class': ''})
            
            # get duration, synopsis and genre
            duration = int(re.findall(r'(\d+)', info[0].find('span', {'class': 'runtime'}).text)[0])
            genre = info[0].find('span', {'class':'genre'}).text.replace('\n', '')
            synopsis = info[1].text

            # get artists and director
            separator = person.text.find('|') 
            if separator != -1: # ada director
                idx_start = person.text.find('Director:')
                director = person.text[idx+10:separator].replace('\n', '')#.split(',')
            else:
                director = np.nan
            artist = person.text[person.text.find('Stars')+7:].replace('\n', '')
        except:
            # Notes: ini lagi males nulis try-catch utuk setiap variabel. Jangan ditiru. 
            duration = np.nan
            genre = np.nan
            synopsis = np.nan
            artist = np.nan 
            director = np.nan
        
        
        data['title'].append(title)
        data['review_score'].append(review)
        data['meta_score'].append(meta_score)
        data['votes'].append(votes)
        data['director'].append(director)
        data['artist'].append(artist)
        data['genre'].append(genre)
        data['duration'].append(duration)
        data['synopsis'].append(synopsis)

        movie_count += 1
        if movie_count == threshold :
            break

    df = pd.DataFrame(data)
    return df, movie_count

In [19]:
movie_count = 0 #inisialiasi jumlah movie yang berhasil di scrap

# Mendapatkan jumlah movies yang tersedia dari seluruh halaman 
res = requests.get(url) #get url
soup = bs(res.content) 
next_page = soup.find('div', {'class':'desc'}) # inspect elment
total_movies = int(re.findall(r'.* of (.*) titles',next_page.find('span').text)[0].replace(',',''))

# Menentukan mau ambil berapa movies review
threshold = 100

In [17]:
total_movies

414454

In [20]:
# Buat dataframe kosong untuk diappend
df = pd.DataFrame(data = {'title':[], 'review_score':[], 'meta_score':[], 'votes':[],
            'director':[], 'artist': [],'genre':[], 'duration':[], 'synopsis': []
           })

# looping n halaman untuk mendapatkan total threshold movies
for str_page in tqdm(np.arange(1, threshold, 50)):
    _url = f'{url}&amp;start={str_page}'
    _df, movie_count = scrap(_url, movie_count, threshold)
    df = pd.concat([df,_df])

100%|██████████| 2/2 [00:03<00:00,  1.60s/it]

In [21]:
df.dropna(subset=['votes', 'review_score'], inplace=True)
df.drop_duplicates(inplace=True)
df.sort_values(by=['review_score', 'meta_score'], ascending=False, inplace=True)

In [22]:
df

,title,review_score,meta_score,votes,director,artist,genre,duration,synopsis
20,The Last Dance,9.4,NaN,14011.0,NaN,"Phil Jackson, Michael Jordan, Scottie Pippen, ...","Documentary, Biography, History",60.0,\n Charting the rise of the 1990's Chicago ...
1,Chernobyl,9.4,NaN,459592.0,NaN,"Jessie Buckley, Jared Harris, Stellan Skarsgår...","Drama, History, Thriller",330.0,"\n In April 1986, an explosion at the Chern..."
4,Normal People,8.8,NaN,7423.0,NaN,NaN,NaN,NaN,NaN
9,The Mandalorian,8.7,NaN,166630.0,NaN,"Pedro Pascal, Carl Weathers, Rio Hackford, Gin...","Action, Adventure, Sci-Fi",30.0,\n The travels of a lone bounty hunter in t...
3,The Boys,8.7,NaN,143486.0,NaN,"Karl Urban, Jack Quaid, Antony Starr, Erin Mor...","Action, Comedy, Crime",60.0,\n A group of vigilantes set out to take do...
...,...,...,...,...,...,...,...,...,...
42,Fantasy Island,4.8,NaN,17452.0,NaN,NaN,NaN,NaN,NaN
44,Mrs. Serial Killer,4.5,NaN,6462.0,NaN,NaN,NaN,NaN,NaN
6,Too Hot to Handle,4.5,NaN,5507.0,NaN,"Chloe Veitch, David Birtwistle, Francesca Fara...","Game-Show, Reality-TV",40.0,"\n On the shores of paradise, gorgeous sing..."
15,365 dni,3.6,NaN,2973.0,NaN,NaN,NaN,NaN,NaN
23,Batwoman,3.5,NaN,25546.0,NaN,"Ruby Rose, Camrus Johnson, Rachel Skarsten, Me...","Action, Adventure, Crime",45.0,\n Kate Kane seeks justice for Gotham City ...